.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }


.mb-6{
    margin-top: 10%;
    font-size: 20px;
    width: 300px;
    margin-top: 0,5rem;
    align-items: center;
}
.mb-2{
    font-size: 20px; 
    width: 300px; 
    margin-top: 0,5rem;
}

